{% extends 'base.html.twig' %}

{% block title %}{{ app.user.username }}{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 3%">
        <div class="card mb-3">
            <h3 class="card-header">
                {{ app.user.username }}
            </h3>
            <img style="height: 100%; width: 256px; display: block;"
                 class="mx-auto d-block"
                 src="https://i.imgur.com/KWI4JAa.png"
                 alt="Photo Profile">
            <hr>
            <div class="card-body">
                <p class="card-text">{{ app.user.description | raw }}</p>
            </div>
            <ul class="list-group list-group-flush">
                {% if app.user.steamId != null %}
                    <li class="list-group-item">ID Steam : {{ app.user.steamId }}</li>
                {% endif %}
                {% if app.user.friendCode != null %}
                    <li class="list-group-item">Code Ami Steam : {{ app.user.friendCode }}</li>
                {% endif %}
                {% if app.user.discordTag != null %}
                    <li class="list-group-item">Discord : {{ app.user.discordTag }}</li>
                {% endif %}
                {% if app.user.battleTag != null %}
                    <li class="list-group-item">Battle Tag : {{ app.user.battleTag }}</li>
                {% endif %}
                {% if app.user.xboxname != null %}
                    <li class="list-group-item">Pseudo Xbox : {{ app.user.xboxname }}</li>
                {% endif %}
                {% if app.user.palystation != null %}
                    <li class="list-group-item">Pseudo PlayStation : {{ app.user.palystation }}</li>
                {% endif %}
            </ul>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Jeu jouer sur steam</h4>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                {{ form_start(form) }}
                {{ form_label(form.imageFile) }}
                {{ form_widget(form.imageFile) }}
                <br>
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                <br>
                {{ form_label(form.steamId ) }}
                {{ form_widget(form.steamId, {'attr': {'placeholder': 'Identifiant Steam' }}) }}
                <br>
                {{ form_label(form.friendCode) }}
                {{ form_widget(form.friendCode, {'attr': {'placeholder': 'Code Ami Steam' }}) }}
                <br>
                {{ form_label(form.discordTag) }}
                {{ form_widget(form.discordTag, {'attr': {'placeholder': 'Identifiant Discord' }}) }}
                <br>
                {{ form_label(form.battleTag) }}
                {{ form_widget(form.battleTag, {'attr': {'placeholder': 'Identifiant Battle.net' }}) }}
                <br>
                {{ form_label(form.xboxname) }}
                {{ form_widget(form.xboxname, {'attr': {'placeholder': 'Identifiant Xbox' }}) }}
                <br>
                {{ form_label(form.palystation) }}
                {{ form_widget(form.palystation, {'attr': {'placeholder': 'Identifiant PlayStation' }}) }}
                <br>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
