{% extends 'base.html.twig' %}

{% block title %}{{ profile.username }}{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 3%">
        <div class="card mb-3">
            <h3 class="card-header">
                {{ profile.username }}
            </h3>
            <img style="height: 100%; width: 256px; display: block;"
                 class="mx-auto d-block"
                 src="https://i.imgur.com/KWI4JAa.png"
                 alt="Photo Profile">
            <hr>
            <div class="card-body">
                <p class="card-text">{{ profile.description | raw }}</p>
            </div>
            <ul class="list-group list-group-flush">
                {% if profile.steamId != null and app.user == profile.username %}
                    <li class="list-group-item">ID Steam : {{ profile.steamId }}</li>
                {% endif %}
                {% if profile.friendCode != null %}
                    <li class="list-group-item">Code Ami Steam : {{ profile.friendCode }}</li>
                {% endif %}
                {% if profile.discordTag != null %}
                    <li class="list-group-item">Discord : {{ profile.discordTag }}</li>
                {% endif %}
                {% if profile.battleTag != null %}
                    <li class="list-group-item">Battle Tag : {{ profile.battleTag }}</li>
                {% endif %}
                {% if profile.xboxname != null %}
                    <li class="list-group-item">Pseudo Xbox : {{ profile.xboxname }}</li>
                {% endif %}
                {% if profile.palystation != null %}
                    <li class="list-group-item">Pseudo PlayStation : {{ profile.palystation }}</li>
                {% endif %}
            </ul>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Jeu jouer sur steam</h4>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
